.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 72px;
}

#quote-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#quote-text {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

#button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  
}
